
<!DOCTYPE html>
<html>
  <head>
    <title>show actions</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </script>
  </head>
  <body>
    <h1>show actions</h1>
    <table>
    <tr>
      
<th>user_id</th>
      
<th>type</th>
      
<th>stage_no</th>
      
<th>wave</th>
      
<th>gold</th>
      
      </tr>
    <% for(var i=0;i < docs.length;i++) { %>      
    <tr>
      
    <td><%=docs[i].user_id%></td>      
    <td><%=docs[i].type%></td>      
    <td><%=docs[i].stage_no%></td>      
    <td><%=docs[i].wave%></td>      
    <td><%=docs[i].gold%></td>      
    <td><a href="/action/update/?id=<%=docs[i]._id%>">edit</a></td>    </tr>
    <% } %>    </table>
      <a href="/action/create">create new</a>
  </body>
</html>
